<div class="container">
  <div>
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Quan Ly San Pham</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>

            <div class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Nhap Ten San Pham" aria-label="Search" [(ngModel)] = "name">
              <button class="btn btn-outline-success my-2 my-sm-0"  (click)="getByname()">Search</button>
            </div>
          </div>
        </nav>
      </div>

<!-- category-->
      <div class="col-5 mt-3">
        <div style="margin-left: 20px">
          <p>Danh Muc (Category)</p>
<!--            <a routerLink="createCategory">Thêm danh muc mới</a>-->
          <router-outlet></router-outlet>
          <form [formGroup]="form" (click)="getByProductById()" >
          <select formControlName="category" >
            <option *ngFor="let c of listCategory" [value]="c.id"
            >{{c.name}}
          </select>
          </form>


<!--          <table class="table table-striped table-dark">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <td>stt</td>-->
<!--              <td>Category</td>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tr *ngFor="let c of listCategory ; index as i">-->
<!--              <td>{{i+1}}</td>-->
<!--              <td (click)="getByProductById(c.id)" > {{c.name}} </td>-->
<!--            </tr>-->
<!--          </table>-->
        </div>
      </div>

<!--      product-->
      <div class="col-7 mt-3">
        <div><p>Danh sach San Pham (product)</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" routerLink="createProduct">
            Them San Pham
          </button>
                    <router-outlet></router-outlet>
<!--         <a routerLink="createProduct">Create product</a>-->
          <table border="3px">
            <tr>
              <td>STT</td>
              <td>Name</td>
              <td>Price</td>
              <td>Category</td>
              <td colspan="2">Action</td>
            </tr>
            <tr *ngFor="let pro of listProduct ; index as i">
              <td>{{i + 1}}</td>
              <td>{{pro.name}}</td>
              <td>{{pro.price}}</td>
              <td>{{pro.category.name}}</td>
              <td><a [routerLink]="['edit',pro.id]">Edit</a></td>
              <td><a [routerLink]="['delete',pro.id]">Delete</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





